<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/header'); %>
  <body>
    <%- include('./layouts/nav'); %>
    <main>
      <div class="m-4 rounded-2 border">
        <div class="row p-3">
          <div class="col-8 px-5 py-4">
            <h3>Welcome to <span> <%= data.title %> </span>!</h3>
            <hr />
            <p><%= data.description %></p>
            <h4 class="my-4">Create Appointment Slots</h4>
            <div class="container mt-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="appointmentDate" class="form-label"
                      ><b>Select Date:</b></label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="appointmentDate"
                      placeholder="Select date"
                    />
                  </div>
                </div>
              </div>
              <h5 class="mb-4">Available Slots</h5>
              <div class="row">
                <div class="col-md-12">
                  <div id="slotsContainer">
                    <!-- Appointment slots for the selected date will be dynamically added here -->
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    id="cancelBtn"
                  >
                    Cancel
                  </button>
                  <button type="button" class="btn btn-primary" id="bookBtn">
                    Book
                  </button>
                </div>
                <div
                  id="AppointmentAlert"
                  style="display: none"
                  class="alert alert-danger alert-dismissible fade show my-3"
                  role="alert"
                >
                  <span> Create New User!</span>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <img src="<%= data.image %>" class="img-fluid p-auto d-block" />
          </div>
        </div>
        <div class="container mt-4">
          <h4>Test Results</h4>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Car Make</th>
                <th>Car Model</th>
                <th>Test Type</th>
                <th>Test Result</th>
              </tr>
            </thead>
            <tbody id="testResultTable"></tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
  <%- include('./layouts/scripts'); %>
</html>
