<div class="m-4 rounded-2 border">
  <div class="row p-3">
    <div class="col-8 px-5 py-4">
      <h3>Welcome to <span> <%= data.title %> </span>!</h3>
      <hr />
      <% if(data.title==="Dashboard" ){ %> <%- include('../views/dashboard'); %>
      <% } else if(data.title==="Login" ){ %> <%- include('../views/login'); %>
      <% }else if(data.title==="G - License" ){ %> <%-
      include('../views/g_page'); %> <% }else if(data.title==="G2 - License"){
      %> <%- include('../views/g2_page'); %><% }else{ %><%-
      include('../views/dashboard');%> <% } %>
    </div>
    <div class="col-4">
      <img src="<%= data.image %>" class="img-fluid p-auto d-block" />
    </div>
  </div>
</div>
