<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/header'); %>
  <body>
    <%- include('./layouts/nav'); %>
    <main>
      <div class="m-4 rounded-2 border">
        <div class="row p-3">
          <div class="col-8 px-5 py-4">
            <h3>Welcome to <span> <%= data.title %> </span>!</h3>
            <hr />
            <p><%= data.description %></p>
            <div class="mb-3">
              <label for="testTypeFilter" class="form-label"
                >Filter by Test Type:</label
              >
              <select class="form-select" id="testTypeFilter">
                <option value="ALL">All</option>
                <option value="G">G</option>
                <option value="G2">G2</option>
              </select>
            </div>
            <div class="row mt-4">
              <div class="col-md-6">
                <h2>Drivers Ready for Drive Test</h2>
                <table class="table w-100">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Driver Name</th>
                      <th>Appointment Time</th>
                      <th>Test Type</th>
                    </tr>
                  </thead>
                  <tbody id="testTable">
                    <tr>
                      <td>1</td>
                      <td><a href="#">Driver 1 - Name</a></td>
                      <td>10:00</td>
                      <td>G</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><a href="#">Driver 2 - Name</a></td>
                      <td>11:00</td>
                      <td>G2</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><a href="#">Driver 3 - Name</a></td>
                      <td>12:00</td>
                      <td>G</td>
                    </tr>
                    <!-- Repeat for more drivers -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-4">
            <img src="<%= data.image %>" class="img-fluid p-auto d-block" />
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('./layouts/scripts'); %>
</html>
