<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/header') %>
  <body>
    <!-- navigation bar imported from nav.ejs -->
    <%- include('./layouts/nav'); %>
    <!-- card layout imported from card.ejs -->
    <main>
      <div class="m-4 rounded-2 border">
        <div class="row p-3">
          <div class="col-8 px-5 py-4">
            <h3>Welcome to <span> <%= data.title %> </span>!</h3>
            <hr />

            <div
              id="userAlert"
              style="display: none"
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <strong></strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <div class="my-3" id="g2ResultContainer" style="display: none">
              <h6 class="car-title">
                <strong>TEST STATUS: </strong>
                <span id="g2TestStatus" class="text-success"
                  ><strong>COMPLETE</strong></span
                >
              </h6>
              <div id="g2Resultbody" style="display: block">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      <strong>Username:</strong>
                      <br />
                      <span id="g2ResultUserName">hem</span>
                    </p>
                  </div>
                  <div class="col">
                    <p class="card-text">
                      <strong>Test Type:</strong>
                      <br />
                      <span
                        class="text-uppercase text-black"
                        id="g2ResultTestType"
                        >G</span
                      >
                    </p>
                  </div>
                </div>
                <p class="card-text">
                  <strong>TEST RESULT:</strong>
                  <br />
                  <span
                    ><strong id="g2ResultTestResult" class="text-success"
                      >Passed</strong
                    ></span
                  >
                </p>
                <p class="card-text">
                  <strong>Test Comment:</strong>
                  <br />
                  <span id="g2ResultTestComment"></span>
                </p>
              </div>
            </div>

            <div>
              <h1>Book an Appointment!</h1>
              <div
                id="bookAlert"
                style="display: none"
                class="alert alert-danger alert-dismissible fade show my-3"
                role="alert"
              >
                <span> Create New User!</span>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <div class="form-group">
                <label for="dateBook">Select Date:</label>
                <div class="row my-3">
                  <input type="date" class="form-control my-3" id="dateBook" />
                  <label for="bookSelect">Select appointment time:</label>
                  <select
                    id="bookSelect"
                    class="form-select my-3"
                    aria-label="Default select example"
                  ></select>
                  <button type="button" class="btn btn-primary" id="bookG2Btn">
                    Book
                  </button>
                </div>
              </div>
              <div id="timeSlots"></div>
            </div>
            <form id="userForm">
              <h4>Personal Details:</h4>
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="firstName" class="form-label"
                      >First Name:</label
                    >
                    <input
                      type="text"
                      name="firstName"
                      class="form-control"
                      id="firstName"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input
                      type="text"
                      name="lastName"
                      class="form-control"
                      id="lastName"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <input
                      type="number"
                      name="age"
                      class="form-control"
                      id="age"
                      required
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="licenseNumber" class="form-label"
                      >License Number:</label
                    >
                    <input
                      type="text"
                      name="licenseNumber"
                      class="form-control"
                      id="licenseNumber"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="birthDate" class="form-label"
                      >Date of Birth:</label
                    >
                    <input
                      type="date"
                      name="birthDate"
                      class="form-control"
                      id="birthDate"
                      required
                    />
                  </div>
                </div>
              </div>
              <h4>Car Information:</h4>
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="make" class="form-label">Make:</label>
                    <input
                      type="text"
                      name="make"
                      class="form-control"
                      id="make"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="plateNumber" class="form-label"
                      >Plate Number:</label
                    >
                    <input
                      type="text"
                      name="plateNumber"
                      class="form-control"
                      id="plateNumber"
                      required
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="model" class="form-label">Model:</label>
                    <input
                      type="text"
                      name="model"
                      class="form-control"
                      id="model"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="year" class="form-label">Year:</label>
                    <input
                      type="number"
                      name="year"
                      class="form-control"
                      id="year"
                      required
                    />
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
          <div class="col-4">
            <img src="<%= data.image %>" class="img-fluid p-auto d-block" />
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('./layouts/scripts'); %>
</html>
