<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/header') %>
  <body>
    <!-- navigation bar imported from nav.ejs -->
    <%- include('./layouts/nav'); %>
    <!-- card layout imported from card.ejs -->
    <main>
      <div class="m-4 rounded-2 border">
        <div class="row p-3">
          <div class="col-8 px-5 py-4">
            <h3>Welcome to <span> <%= data.title %> </span>!</h3>
            <hr />

            <p><%= data.description %></p>
            <div class="container">
              <h1>Book an Appointment!</h1>
              <div
                id="bookAlert"
                style="display: none"
                class="alert alert-danger alert-dismissible fade show my-3"
                role="alert"
              >
                <span> Create New User!</span>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <div class="form-group">
                <label for="dateBook">Select Date:</label>
                <div class="row my-3">
                  <input type="date" class="form-control my-3" id="dateBook" />
                  <label for="bookSelect">Select appointment time:</label>
                  <select
                    id="bookSelect"
                    class="form-select my-3"
                    aria-label="Default select example"
                  ></select>
                  <button type="button" class="btn btn-primary" id="bookGBtn">
                    Book
                  </button>
                </div>
              </div>
              <div id="timeSlots"></div>
            </div>
            <div
              id="searchAlert"
              style="display: none"
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              No user Found!
              <a href="/g2" class="alert-link"
                ><strong> Create New User!</strong></a
              >
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <form id="searchForm" style="display: none">
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="licenseNumber" class="form-label"
                      >License Number:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="licenseNumber"
                    />
                  </div>
                </div>
                <div class="col" style="margin: 32px 0px 0px 24px">
                  <button type="submit" class="btn btn-primary">
                    Search Now
                  </button>
                </div>
              </div>
            </form>
            <br />
            <form id="detailsForm" style="display: block">
              <h4>Personal Details:</h4>
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="firstName" class="form-label"
                      >First Name:</label
                    >
                    <input
                      type="text"
                      name="firstName"
                      class="form-control"
                      id="firstNameGpage"
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input
                      type="text"
                      name="lastName"
                      class="form-control"
                      id="lastNameGpage"
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <input
                      type="number"
                      name="age"
                      class="form-control"
                      id="ageGpage"
                      disabled
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="licenseNumber" class="form-label"
                      >License Number:</label
                    >
                    <input
                      type="text"
                      name="licenseNumber"
                      class="form-control"
                      id="licenseNumberGpage"
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="birthDate" class="form-label"
                      >Date of Birth:</label
                    >
                    <input
                      type="date"
                      name="birthDate"
                      class="form-control"
                      id="birthDateGpage"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <h4>Car Information:</h4>
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="make" class="form-label">Make:</label>
                    <input
                      type="text"
                      name="make"
                      class="form-control"
                      id="makeGpage"
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="plateNumber" class="form-label"
                      >Plate Number:</label
                    >
                    <input
                      type="text"
                      name="plateNumber"
                      class="form-control"
                      id="plateNumberGpage"
                      disabled
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="model" class="form-label">Model:</label>
                    <input
                      type="text"
                      name="model"
                      class="form-control"
                      id="modelGpage"
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="year" class="form-label">Year:</label>
                    <input
                      type="number"
                      name="year"
                      class="form-control"
                      id="yearGpage"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                style="display: none"
              >
                Update
              </button>
            </form>
            <br />
            <div
              id="updateAlert"
              style="display: none"
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <strong></strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="col-4">
            <img src="<%= data.image %>" class="img-fluid p-auto d-block" />
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('./layouts/scripts'); %>
</html>
